{% extends "bets/base.html" %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/details.js' %}"></script>
{% endblock js %}

{% block heading %}
    <h2>Some more details on your bet</h2>
    <h1>{{bet_data.bet.title}}</h1>
{% endblock heading %}

{% block content %}
    <div class="action-bar details-displacement">
        <form action="{% url finish-bet bet_data.bet.id %}" method="POST">
            {% csrf_token %}
            <a href="{% url index-bets %}" class="btn btn-inverse btn-large"><i class="icon-arrow-left icon-white"></i></a>
            <button type="submit" class="btn btn-inverse btn-large">finish this bet</button>
        </form>
    </div>
    <div class="bet-details-grid ">
        <div class="row show-grid grid">
            <div class="span3">
                <strong> Title </strong>
            </div>
            <div class="span8">
                {{bet_data.bet.title}}
            </div>
        </div>
        <div class="row show-grid grid">
            <div class="span3">
                <strong> Description </strong>
            </div>
            <div class="span8">
                {{bet_data.bet.description}}
            </div>
        </div>
        <div class="row show-grid grid">
            <div class="span5">
                <strong>Your points</strong>
            </div>
            <div class="span5 offset1">
                <strong>Your opponent {{bet_data.opponent.0.username}} points</strong>
            </div>
        </div>
         <div class="row show-grid grid">
            <div class="span5">
                <div class="your-points" data-score="{{ bet_data.yourself.1.id }}">
                    <strong>{{bet_data.yourself.1}}</strong>
                </div>
            </div>
          <div class="span5 offset1" id="increase-div">
                <div class="float-left increase-score">
                    <strong>{{bet_data.opponent.1}}</strong>
                </div>
                <div class="float-left increase-button" data-score="{{ bet_data.opponent.1.id }}">
                    <i class='icon-plus'></i>
                </div>
                <div class="clearfix" id="clearfix-details">
                </div>
            </div>
        </div>
    </div>
    {# begining of bet history table #}
    <div class="bet-history-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Who</th>
                    <th>When</th>
                    <th>What</th>
                </tr>
            </thead>
            <tbody>
                {% for history_entry in bet_data.history %}
                    <tr class="{% if history_entry.user == bet_data.yourself.0 %}error{% else %}success{% endif %}">
                        <td> {{ history_entry.user }} </td>
                        <td class="date"> {{ history_entry.date|date:"M d, Y, g:i A" }} </td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}