{% extends 'bets/base.html' %}

{% block title %}
    Your Bets
{% endblock title %}

{% block navbar-bets %}
    class="active"
{% endblock navbar-bets %}

{% block heading %}
    <h1>Your Bets</h1>
{% endblock heading %}

{% block content %}
    <div class="action_bar">
        {# here we should place buttons like "start new bet" and "statistics" #}
    </div>
    <div class="bet_overview">
        {% if bet_list %}
            <ul class="thumbnails">
                {% for bet_tuple in bet_list %}
                    <li class=span4>
                        <div class="thumbnail {{bet_tuple.2}}">
                                <h2 class="bet-title anti-overflow">{{bet_tuple.0.title}}</h2>
                                {% for score_tuple in bet_tuple.1 %}
                                    <div class="bet-scores">
                                        <table class="bet-overview-table">
                                            <tr>
                                                <th> {{score_tuple.0.username}} </th>
                                            </tr>
                                            <tr>
                                                <td> {{score_tuple.1}} </td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endfor %}
                                <div class="clearfix">
                                </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1> There are no bets yet!! </h1>
        {% endif %}

       
    </div>
{% endblock content %}
