{% extends "bets/base.html" %}

{% block heading %}
    <h1>Create a new Bet</h1>
{% endblock heading %}

{% block content %}
    <form action="{{ request.path }}" method="post" class="form-horizontal">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-error">
                Please take a look at required fields!!
            </div>
        {% endif %}
        {% for field in form %}
            {% if  field.errors %}
                <div class="alert alert-error">
                    {{ field.errors|first }}
                </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }} 
                </div>
            </div>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create new bet</button>
            <a href="{% url index-bets %}" class="btn">Cancel</a>
        </div>
   </form>
{% endblock content %}