/* bet titles */
.bet-title{
    text-align: center;
    width: 100%;
    height: 45px;
}

.anti-overflow{
    overflow: hidden;
}

.bet-scores{
    float: left;
    width: 50%;
}

.clearfix{
    clear: left;
}
.warning{
    background-color: #FF8080;
    border-color: red;
}

.good{
    background-color: #DFF0D8;
    border-color: green;
}

.bet-overview-table{
    text-align: center;
    width: 100%;
}

.bet-overview-table th,.bet-overview-table td{
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
}

.bet-overview-table th{
    font-weight: bold;
}