{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<title>{% block title %}WettApp{% endblock title %}</title>
		{% block css %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		{% endblock css %}
		{% block js %}
			<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
			<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		{% endblock js %}
	</head>

	<body>
		{# navbar #}
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<a href="{% url root %}" class="brand">Logo</a>
				{% if user.is_authenticated %}	
					<ul class="nav">
						<li {% block navbar-bets %}{% endblock navbar-bets %}>
							<a href="{% url index-bets %}">Your Bets</a>
						</li>
						<li {% block navbar-buddies %}{% endblock navbar-buddies %}>
							<a href="#">Buddies</a>
						</li>
					</ul>
				
					<ul class="nav pull-right">
						<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						    	{{ user.username }} <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						    	<li>
						    		<a href="#">Edit Profile</a>
						    	</li>
						    	<li>
						    		<a href="{% url logout %}">Logout</a>
						    	</li>
						    </ul>
						</li>
					</ul>
				{% endif %}
			</div>
		</div> {# /navbar #}

		<div id="container" class="container">
			<div id="heading">
				{% block heading %}{% endblock heading %}
				<hr>
			</div>
			<div id="content">
				{% block content %}{% endblock content %}
			</div>
		</div>
	</body> 
</html>